body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    color: #151515;
    background: #FDFDFD;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.none {
    text-decoration: none;
}

.logo {
    font-family: 'Source Code Pro', monospace;
    color: #FFF;
	font-size: 50px;
	font-weight: 200;

    margin: 20px;
}

.left > div:first-child {
    flex: 1;
}

.logo span {
	background: #C95E16;
    padding: 0 5px 0 5px;
}

.left {
    width: 350px;

    position: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.right {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    margin-top: 140px;
    margin-left: 330px;
    justify-content: flex-start;
}

.footer {
    margin: 20px;
}

.card {
    width: 250px;
    margin: 20px;
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    border-radius: 2px;

    transition: all 400ms;
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.left .card {
    width: auto;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.left .card div {
    align-self: flex-start;
    flex: 1;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 200;

    margin: 5px 0 5px 0;
}

h1.title {
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    font-size: 28px;
    font-style: normal;
    padding: 20px 20px 0 20px;
}

.left h1.title {
    padding: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 200;
    color: #151515;
}

.orange {
    color: #C95E16;
}

.citymapper {
    color: #39AF31;
}

.bnf {
    color: #00C1D5;
}

.sosure {
    color: #3398FD;
}

.drinkaware {
    color: #00AB8E;
}

.imagereminders {
    color: #3F51B5;
}

.medium {
    color: #00ab6b;
}

.blog {
    color: #C95E16;
}

.github {
    color: #000000;
}

.stackoverflow {
    color: #f69c55;
}

img {
    width: 250px;
    height: 250px;
}

.left img {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.footer div {
    display: inline-block;
}

@media (max-width: 1010px) {
    body {
        display: block;
    }
    .left {
        width: auto;
        position: relative;
        min-height: 0;
    }

    .right {
        display: flex;
        flex-flow: row wrap;
        padding: 0px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .card {
        flex: 1 0 auto;
        margin: 20px;
        padding: 20px;
        background: #FFF;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .left .card {
        width: auto;
        margin: 20px 0 0 0;
    }
}