body {
    font-family: 'Lato', sans-serif;
    color: #212121;
    margin: 0;
}

p {
    line-height: 1.7em;
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 400px;
    background: url("DSC_9604-1400x911.jpg") 100%;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 3em;
    color: rgb(11,186,200)
    
}

a {
    font-weight: 700;
    color: rgb(11,186,200)
}

img {
    width: 100%;
}

img.left, img.right {
    width: 50%;
    padding: 20px 0;
}

.left {
    float: left;
    position: relative;
    left: -40px;
}

.right {
    float: right;
    position: relative;
    right: -40px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.6em;
    }

    img {
        width: 100%;
        padding: 0;
    }

    img.left {
        width: 100%;
        float: none;
        position: relative;
        left: 0px;
    }
    
    img.right {
        width: 100%;
        float: none;
        position: relative;
        right: 0px;
    }
    
    h1, h2, p {
        padding: 20px;
    }
}